<li class="clearfix">
	<div class="f_v_thumb_con clearfix">
    	<div class="f_vid_thumb floatL"><a href="{videoLink vdetails=$video}"><img src="{getThumb vdetails=$video}" width="120" height="90" alt="{$video.title}" {ANCHOR place="video_thumb" data=$video} /></a>
		<img src="{$imageurl}/dot.gif" class="add_icon" style="bottom:1px;" onclick="add_quicklist(this,'{$video.videoid}')" title="Add {$video.title} to Quicklist" alt="Quicklist" />
        {if $video.broadcast=='private'}
        <a href="{videoLink vdetails=$video}"><span class="private_video"></span></a>
        {/if}
        {ANCHOR place='in_video_thumb' data=$video} 
        </div>
        <div class="vid_title"><a href="{videoLink vdetails=$video}" title="{$video.title}">{$video.title|truncate:50}</a></div>
        <div class="vid_dec">{$video.description|description|truncate:100}</div>
        <div class="vid_time">Run Time <span style="color:#000;">{$video.duration|SetTime}</span></div>
    </div> <!--f_v_thumb_con end-->
	
    <div class="vid_info">
       {show_rating class='rating_small' rating=$video.rating ratings=$video.rated_by total='10'}
       <div class="vid_u_name">From <a href="{$userquery->profile_link($video)}" title="{$video.username}">{$video.username|truncate:15}</a></div>
       <div class="vid_views">Views  <span style="color:#000;">{$video.views}</span></div>
       <div class="vid_views">Comment(s)  <span style="color:#000;">{$video.comments_count}</span></div>
       <div class="vid_views">Added <span style="color:#000;">{$video.date_added|nicetime}</span></div>
    </div>
    <div class="clearfix"></div>
    <div class="vid_tags">Video Tags {$video.tags|tags:videos}</div>    
</li>