/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(../images/arrow/hori_large.png) no-repeat;
	display:block;
	width:20px;
	height:20px;
	float:left;
	margin:2px 0px 0px;
	cursor:pointer;
}

/* right */
a.right{ background-position: 0 -20px; clear:right; margin-right: 0px;}
a.right:hover{ background-position:-20px -20px; }
a.right:active{ background-position:-40px -20px; } 


/* left */
a.left{ margin-left: 0px; } 
a.left:hover{ background-position:-20px 0; }
a.left:active{ background-position:-40px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(../images/arrow/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover{ background-position:-30px 0; }
a.up:active{ background-position:-60px 0; }

/* down */
a.down{ background-position: 0 -20px; }
a.down:hover{ background-position:-20px -20px; }
a.down:active{ background-position:-40px -20px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	