
<!-- Video Box -->
{if $display_type =='normal' || $display_type==''}
<div class="width_box">
<div class="vid_thumb" style="float: left; margin: 0 6px 0 0;">
<a href="{videoLink vdetails=$video}"><img src="{getThumb vdetails=$video}" width="120" height="70" title="{$video.title}" alt="{$video.title}" {ANCHOR place="video_thumb" data=$video} /></a>
        <span class="vid_time">{$video.duration|SetTime}</span>
		<img src="{$imageurl}/.htaccess.png" class="add_icon" onclick="add_quicklist(this,'{$video.videoid}')" title="Add {$video.title} to Quicklist" alt="Quicklist" />   
        {if $video.broadcast=='private'}
        	<a href="{videoLink vdetails=$video}"><span class="private_video">&nbsp;</span></a>
        {/if}
        {ANCHOR place='in_video_thumb' data=$video}    
    </div> <!--VID_THUMB END-->
<div class="right_box" style="float:left;">
<div class="text89"><a href="{videoLink vdetails=$video}" title="{$video.title}">{$video.title|truncate:20}</a></div>
<div class="vid" style="color: #666666;display: block;font-size: 0.9166em;height: 1.4em;line-height: 1.4em;overflow: hidden;">{$video.description|description|truncate:20}</div>
<p class="info" style="color: #666666;display: block;font-size: 0.9166em;height: 1.4em;line-height: 1.4em;overflow: hidden; margin:0px;">{$video.views} Views</p>
</div>
</div>
{/if}
<!-- Video Box -->
