<div style="width:980px; margin:auto; margin-top:10px;">
    <div class="simple_container full_round_10" style="margin-left:-0px;">
      <h2>{lang code='usr_activation_title'}</h2>
        <hr align="center" width="100%" size="1" noshade="noshade" />
        <div style="margin-bottom:10px; font-family:Tahoma; font-size:12px; color:#333">{lang code='acitvation_html_message'}</div>
        <form action="" method="post" name="Actvation Code" id="Actvation Code" class="cbform">
          <label for="av_username" class="label" style="font-size:12px; font-family:Tahoma;">{lang code='username'}</label>
            <input type="text" name="av_username" id="av_username" style="margin-bottom:10px; margin-left:30px;" /><br />
    <div class="clearfix"></div>
          <label for="avcode" class="label" style="font-size:12px; font-family:Tahoma;">{lang code='usr_activation_code_tl'}</label>
          <input type="text" name="avcode" id="avcode" />
          
    <div class="clearfix"></div>
        <label class="label">&nbsp;</label>
        <input type="submit" name="activate_user" class="send_msg" style="margin:5px 0px;" value="{lang code='activate'}" />
        </form>
    </div>
    
    
    <div class="simple_container" style="margin-left:-0px;">
      <h2>{lang code='usr_actiavation_msg1'}</h2>
        <hr align="center" width="100%" size="1" noshade="noshade" />
        <div style="margin-bottom:10px">{lang code='acitvation_html_message2'}</div>
      <form action="" method="post" name="Actvation Code" id="Actvation Code" class="cbform">
        <label for="av_email"  class="label" style="font-size:12px; font-family:Tahoma;">{lang code='Email'}</label>
        <input type="text" name="av_email" id="av_email" /><br />
    <div class="clearfix"></div>
        <label class="label">&nbsp;</label>
        <input name="request_avcode" type="submit" class="send_msg" style="margin:5px 0px;" id="request_avcode" value="{lang code='request'}" />
      </form>
    </div>
</div>