<div class="watch_add" style="margin-top:12px;">{AD place=ad_728x90}</div>

<div class="sort_cont">

<ul>
    {assign var=sorting_links value=func->sorting_links()}
    {foreach from=$sorting_links item=name key=sort}
    	<li {if $smarty.get.sort==$sort} class="selected"{/if}><a href="{link name=sort sort=$sort type=channel}">{$name}</a></li>
    {/foreach}
</ul>
</div>

<div class="time_cont">
	{assign var=time_links value=func->time_links()}
    {foreach from=$time_links item=name key=sort name=times}
        <a href="{link name=time sort=$sort type=channel}" {if $smarty.get.time==$sort } class="selected"{/if}>{$name}</a> {if !$smarty.foreach.times.last}|{/if}
    {/foreach}
</div>

<div class="vid_page_conainer">
	
    {section name=u_list loop=$users}
        {include file="$style_dir/blocks/user.html" user=$users[u_list] view_user = "u_channel"} 
    {sectionelse}
    	<span style="margin:30px 0px 0px 15px; font-size:18px; font-weight:bold">{lang code='no_results_found'}</span>
    {/section}    
    <div class="clearfix"></div>

<div class="clearfix" style="margin-bottom:10px"></div>

{include file="$style_dir/blocks/pagination.html"}

</div> <!--vid_page_conainer end-->

<!-- Listing Categories -->
<div class="cat_con">
	{include file="$style_dir/blocks/category_list.html" type='user'}
</div>
<!-- Listing Categories End -->